{% extends 'books/base_template.html' %}

{% block title %}
    All Books
{% endblock %}

{% block content %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h1> Wszystkie książki </h1>
        </div>
        <div class="panel-body">
        {% for book in books %}

                {% if forloop.first %}
            <div class="row">
                {% endif %}

                <div class="col-xs-4">

                    <h3>tytuł: <a href="book_edit/{{ book.id }}"> {{ book.title }} </a></h3>

                    <h4>autor: {{ book.author }} </h4>

                    <p>gatunek: {{ book.get_genre_display }} </p>

                    <p>wydawca:  {{ book.publisher }} </p>

                    <p>ISBN: {{ book.isbn }} </p>

                    <p> DEBUG: available: {{ book.available }} </p>

                    {% if book.available %}
                        <button class="btn btn-primary">WYPOŻYCZ</button>
                        <button class="btn btn-danger" disabled>ODDAJ</button>
                    {% else %}
                        <button class="btn btn-primary" disabled>WYPOŻYCZ</button>
                        <button class="btn btn-danger" >ODDAJ</button>
                    {% endif %}
                    <p><strong>OPIS:</strong> {{ book.description }} </p>

                </div>

            {% if forloop.counter|divisibleby:3 %}
            </div><div class="row">
            {% endif %}

            {% if forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
